---
import Layout from "../../layouts/Layout.astro";
import LibrarySearchPanel from "../../components/library/LibrarySearchPanel.svelte";
---

<Layout>
  <main class="flex min-h-screen items-start justify-center bg-base-200 px-4 py-8">
    <LibrarySearchPanel client:load />
  </main>
</Layout>
